<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>To Do List app</title>

        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('css/bootstrap.materia.min.css') }}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ asset('css/css.css') }}" rel="stylesheet">

        <!-- Font Awesome CSS -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
        <script>
            window.addEventListener("load", function(){
                window.cookieconsent.initialise({
                    "palette": {
                        "popup": {
                            "background": "#7451EB",
                            "text": "#ffffff"
                        },
                        "button": {
                            "background": "#ffffff"
                        }
                    },
                    "showLink": false,
                    "content": {
                        "message": "Ce site utilise des cookies pour vous garantir la meilleure expérience sur notre site.",
                        "dismiss": "Ok!"
                    }
                })});
        </script>
    </head>

    <body>
        {% include 'navbar.html.twig' %}

        <!-- Page Content -->
            <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 mt-5">
                    {% for flash_message in app.session.flashBag.get('success') %}
                        <div class="alert alert-dismissible alert-success">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>{{ flash_message }}</strong>
                        </div>
                    {% endfor %}

                    {% for flash_message in app.session.flashBag.get('error') %}
                        <div class="alert alert-dismissible alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>{{ flash_message }}</strong>
                        </div>
                    {% endfor %}
                </div>
                {% block header_title %}{% endblock %}
            </div>
            </div>

            <br />

            <div class="container">
                        {% block body %}{% endblock %}

            </div>
        <!-- /.container -->

        <div class="container">
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <hr>
                        <p class="pull-right">Copyright &copy; OpenClassrooms</p>
                    </div>
                </div>
            </footer>

        </div>

        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    </body>
</html>
