{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des utilisateurs <i class="fas fa-users"></i></h1>
    <p class="mb-2"><a href="{{ path('user_create')}}" class="btn btn-primary">Créer un utilisateur <i class="fas fa-user-plus"></i></a></p>
    <div class="col-lg-12 col-md-12 col-sm-auto">
        {% for flash_message in app.session.flashBag.get('success') %}
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>{{ flash_message }}</strong>
            </div>
        {% endfor %}
    {% if users|length == 0 %}
        <div class="alert alert-warning" role="alert">
            Il n'y a pas encore d'utilisateur enregistré. <a href="{{ path('user_create') }}" class="btn btn-warning pull-right">Créer un utilisateur</a>
        </div>
    {% else %}
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nom d'utilisateur</th>
                    <th>Adresse d'utilisateur</th>
                    <th>Inscrit depuis le</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.createdAt | date("d/m/Y")}}</td>
                        <td>
                            <a href="{{ path('user_edit', {'id' : user.id}) }}" class="btn btn-success btn-sm"><i class="fas fa-edit fa-2x"></i></a>
                            <a href="{{ path('user_delete', {'id' : user.id}) }}" class="btn btn-danger btn-sm"><i class="fas fa-trash fa-2x"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    </div>
{% endblock %}
