{% extends 'base.html.twig' %}

{% block body %}
    <h3>
        Il y'a
        {% if tasks | length == 1 %}
            {{ tasks | length }} tâche
        {% else %}
            {{ tasks | length }} tâches
        {% endif %}
        à faire <i class="fas fa-list-ul"></i>
    </h3>
    <p><a href="{{ path('task_create') }}" class="btn btn-primary">Créer une tâche <i class="fas fa-pencil-alt"></i></a>
    <a href="{{ path('tasks_is_done') }}" class="btn btn-info">Liste des tâches terminées <i class="fas fa-check-double"></i></a></p>
    <hr>
    <div class="row">
        {% for task in tasks %}

        <div class="col-sm-4 col-lg-4 col-md-4 mb-3">
            <div class="post-it">
                    <h4 style="text-align: center"><a href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a></h4>
                <hr>
                    <p>{{ task.content }}</p>
                <hr>
                    <p><small>Ajoutée le: {{ task.createdAt | date("d/m/Y") }} à {{ task.createdAt | date("H:i") }}</small></p>

                <div class="container mt-2">
                    <div class="row justify-content-center">
                    <form action="{{ path('task_toggle', {'id' : task.id }) }}">
                        <p class="separator"><button class="btn btn-success btn-sm"><i class="fas fa-check-double fa-2x"></i></button> | </p>
                    </form>
                    <form action="{{ path('task_edit', {'id' : task.id }) }}">
                        <p class="separator"><button class="btn btn-warning btn-sm"><i class="fas fa-pen fa-2x"></i></button> | </p>
                    </form>
                    <form action="{{ path('task_delete', {'id' : task.id }) }}">
                        <p><button class="btn btn-danger btn-sm"><i class="fas fa-trash-alt fa-2x"></i></button></p>
                    </form>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

        <div class="container">
        {% if tasks | length == 0 %}
            <h3>Il n'y a pas de tâches à afficher</h3>
        {% endif %}
        </div>
    </div>
{% endblock %}
