{% extends 'base.html.twig' %}

{% block body %}
    <p style="text-align: center"><img class="img-fluid" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list"></p>
    <h3>
        {% if tasks | length == 1  %}
            Tâche à faire
        {% elseif tasks | length == 0 %}
            Il n'y a pas de tâches à afficher
        {% else %}
            Tâches à faire
        {% endif %}
    </h3>
    <p><a href="{{ path('task_create') }}" class="btn btn-primary">Créer une tâche</a>
    <a href="{{ path('tasks_is_done') }}" class="btn btn-info">Liste des tâches terminées</a></p>
    <hr>
    <div class="row justify-content-lg-center">
        {% for task in tasks %}
        <div class="col-sm-4 col-lg-3 col-md-4 mb-3 task">
                    <h4 class="left">
                        <a href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a>
                        {% if task.isDone == true %}
                            <i class="fas fa-check"></i>
                        {% else %}
                            <i class="fas fa-times"></i>
                        {% endif %}
                    </h4>
                    <p>{{ task.content }}</p>
                    <p><small>Ajoutée le : {{ task.createdAt | date("d/m/Y") }} à {{ task.createdAt | date("H:i") }}</small></p>
                <div class="container mt-2">
                    <div class="row justify-content-center">
                    <form action="{{ path('task_toggle', {'id' : task.id }) }}">
                        <p class="separator"><button class="btn btn-success btn-sm">
                                {% if task.isDone == false %}
                                    Marquer terminée
                                {% else %}
                                    Marquer à faire
                                {% endif %}</button> | </p>
                    </form>
                    <form action="{{ path('task_delete', {'id' : task.id }) }}">
                        <p><button class="btn btn-danger btn-sm">Supprimer</button></p>
                    </form>
                    </div>
                </div>
        </div>

        {% endfor %}

        <div class="container">
        {% if tasks | length == 0 %}
            <h3>Il n'y a pas de tâches à afficher</h3>
        {% endif %}
        </div>
    </div>
{% endblock %}
